<!DOCTYPE html>
<html>
<head>
    <title>Karan's Bake House</title>
</head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'inventory_and_sales/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'inventory_and_sales/css/bootstrap.min.css' %}"/>


<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Home </a>
      <a class="navbar-brand" href="{% url 'products' %}">Products </a>
    <a class="navbar-brand" href="{% url 'ingredients_and_overheads' %}">Ingredients & Overheads </a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Karan's Bake House</h1>
          <h2>Inventory & Sales Management</h2>
      </div>
        {% block content %}

        {% endblock %}


    </div><!-- /.container -->


</body>
</html>