{% extends "inventory_and_sales/base.html" %}

{% block content %}
        <div class="row">

    {% for product in products %}
            <div class="col">
            {{ forloop.counter }}
            {% include 'inventory_and_sales/card.html' with instance=product %}
{#            {% cycle '<h1>Hello</h1>' '' '' %}#}

            {% if forloop.counter|divisibleby:2 %}
                </div></div><div class="row"><div class="col-12"><hr/></div>
            {% else %}

            {% endif %}
            </div>
    {% endfor %}
{% endblock %}